#cwc-foo, #cwc-form, #cwc-msg, #cwc-messages, #cwc-name {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cwc-foo {
  position: fixed;
  bottom: 0;
  right: 0;
  font: 13px;
  Helvetica, Arial;
  width: 50%;
  display: none;
}

#cwc-form {
  background: #000;
  padding: 3px;
}

#cwc-form input {
  border: 0;
  padding: 10px;
  margin-right: .5%;
}

#cwc-msg {
  width: 70%;
}

#cwc-form button, #cwc-form label {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#cwc-messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#cwc-messages li {
  padding: 5px 10px;
}

#cwc-messages li:nth-child(odd) {
  background: #eee;
}

#cwc-messages li:nth-child(even) {
  background: #fff;
}

