#cwc-container, #cwc-form, #cwc-msg, #cwc-message-list, #cwc-name {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cwc-container {
  position: fixed;
  bottom: 0px;
  right: 40px;
  font: 13px;
  Helvetica, Arial;
  width: 500px;
  display: none;
  border: 4px solid #468BBF;
  border-radius: 5px;
  z-index: 2147483647;
}

#cwc-container.red {
  border: 4px solid #BF4646;
}

#cwc-container.gray {
  border: 4px solid #BCBCBC;
}

#cwc-topbar {
  background: #53A4E3;
  color: white;
  text-align: right;
  padding: 5px 25px;
}

.red #cwc-topbar {
  background: #E35252;
}

.gray #cwc-topbar {
  background: #c6c6c6;
}

#cwc-form {
  background: #53A4E3;
  padding: 3px;
  color: white;
}

.red #cwc-form {
  background: #E35252;
}

.gray #cwc-form {
  background: #c6c6c6;
}

#cwc-form input {
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  margin-right: .5%;
  outline: none;
}

#cwc-submit-btn {
  background: #53A4E3;
  border: 0;
  padding: 10px;
  margin-right: .5%;
}

.red #cwc-submit-btn {
  background: #E35252;
}

.gray #cwc-submit-btn {
  background: #c6c6c6;
}

#cwc-submit-btn:enabled {
  color: white;
}

#cwc-submit-btn:disabled {
  color: #468BBF;
}

.red #cwc-submit-btn:disabled {
  color: #bf4646;
}

.gray #cwc-submit-btn:disabled {
  color: #a1a1a1;
}

#cwc-msg {
  width: 70%;
}

#cwc-form button, #cwc-form label {
  width: 9%;
  outline: none;
  border: none;
  padding: 10px;
}

#cwc-message-list {
  background: #bee4f9;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  height: 300px;
}

.red #cwc-message-list {
  background: #f9bdbd;
}

.gray #cwc-message-list {
  background: #f7f7f7;
}

#cwc-message-list li {
  padding: 5px 10px;
}

.cwc-message-received > .cwc-bubble {
  background: #fff;
  margin-right: 60px;
  color: #474c57;
}

.cwc-message-sent > .cwc-bubble {
  background: #32a8e6;
  margin-left: 60px;
  color: #fff;
}

.red .cwc-message-sent > .cwc-bubble {
  background: #e63131;
}

.gray .cwc-message-sent > .cwc-bubble {
  background: #c6c6c6;
}

.cwc-bubble {
  border-radius: 18px;
  padding: 8px 14px;
  overflow-wrap: break-word;
}

.my-name {
  text-align:right;
  padding-right: 30px;
  font-size: 14px;
  color: #474c57;
}

.their-name {
  text-align:left;
  padding-left: 30px;
  font-size: 14px;
  color: #474c57;
}

#cwc-form > ::-webkit-input-placeholder {
  color: #468BBF;
}

.red #cwc-form > ::-webkit-input-placeholder {
  color: #bf4646;
}

.gray #cwc-form > ::-webkit-input-placeholder {
  color: #a1a1a1;
}

